---
http_interactions:
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_dist=38.265425,-104.610415
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30a0aa4f0ddc96ec435787dc866c8da3"
    body:
      encoding: UTF-8
      string: '[{"id":15563,"obdb_id":"walter-brewing-company-pueblo","name":"Walter
        Brewing Company","brewery_type":"micro","street":"126 Oneida St","address_2":null,"address_3":null,"city":"Pueblo","state":"Colorado","county_province":null,"postal_code":"81003-3424","country":"United
        States","longitude":"-104.6103677","latitude":"38.26241645","phone":"7195420766","website_url":"http://www.waltersbeer.com","updated_at":"2018-08-24T00:00:00.000Z","created_at":"2018-07-24T00:00:00.000Z"},{"id":14259,"obdb_id":"shamrock-brewing-company-pueblo","name":"Shamrock
        Brewing Company","brewery_type":"brewpub","street":"108 W 3rd St","address_2":null,"address_3":null,"city":"Pueblo","state":"Colorado","county_province":null,"postal_code":"81003-3225","country":"United
        States","longitude":"-104.6078644","latitude":"38.26965302","phone":"7195429974","website_url":"http://www.shamrockbrewing.com","updated_at":"2018-08-24T00:00:00.000Z","created_at"[...]
