---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=UegbvBv0QKyuruM2p9AjdKl5aCr5rjeR&location==Pueblo,Co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 09 Aug 2021 16:30:41 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"=Pueblo,Co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Pueblo","adminArea5Type":"City","adminArea4":"Pueblo
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040865","unknownInput":"","type":"s","latLng":{"lat":38.265425,"lng":-104.610415},"displayLatLng":{"lat":38.265425,"lng":-104.610415},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=UegbvBv0QKyuruM2p9AjdKl5aCr5rjeR&type=map&size=225,160&locations=38.265425,-104.610415|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1495498007"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Pueblo
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932014","unknownInput":"","type":"s","latLng":{"lat":38.265425,"lng":-104.610415},"displayLatLng":{"lat":38.265425,"lng":-104.610415},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=UegbvBv0QKyuruM2p9AjdKl5aCr5rjeR&type=map&size=225,160&locations=38.265425,-104.610415|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-1590360267"}]}]}'
  recorded_at: Mon, 09 Aug 2021 16:30:40 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=acb86893ad07ed4542668403f58f377b&lat=38.265425&lon=-104.610415&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628526641,"sunrise":1628510889,"sunset":1628560784,"temp":87.89,"feels_like":84.58,"pressure":1008,"humidity":22,"dew_point":44.33,"uvi":8.04,"clouds":1,"visibility":8047,"wind_speed":1.99,"wind_deg":278,"wind_gust":8.01,"weather":[{"id":721,"main":"Haze","description":"haze","icon":"50d"}]},"minutely":[{"dt":1628526660,"precipitation":0},{"dt":1628526720,"precipitation":0},{"dt":1628526780,"precipitation":0},{"dt":1628526840,"precipitation":0},{"dt":1628526900,"precipitation":0},{"dt":1628526960,"precipitation":0},{"dt":1628527020,"precipitation":0},{"dt":1628527080,"precipitation":0},{"dt":1628527140,"precipitation":0},{"dt":1628527200,"precipitation":0},{"dt":1628527260,"precipitation":0},{"dt":1628527320,"precipitation":0},{"dt":1628527380,"precipitation":0},{"dt":1628527440,"precipitation":0},{"dt":1628527500,"precipitati[...]
[...]
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_dist=38.265425,-104.610415
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30a0aa4f0ddc96ec435787dc866c8da3"
    body:
      encoding: UTF-8
      string: '[{"id":15563,"obdb_id":"walter-brewing-company-pueblo","name":"Walter
        Brewing Company","brewery_type":"micro","street":"126 Oneida St","address_2":null,"address_3":null,"city":"Pueblo","state":"Colorado","county_province":null,"postal_code":"81003-3424","country":"United
        States","longitude":"-104.6103677","latitude":"38.26241645","phone":"7195420766","website_url":"http://www.waltersbeer.com","updated_at":"2018-08-24T00:00:00.000Z","created_at":"2018-07-24T00:00:00.000Z"},{"id":14259,"obdb_id":"shamrock-brewing-company-pueblo","name":"Shamrock
        Brewing Company","brewery_type":"brewpub","street":"108 W 3rd St","address_2":null,"address_3":null,"city":"Pueblo","state":"Colorado","county_province":null,"postal_code":"81003-3225","country":"United
        States","longitude":"-104.6078644","latitude":"38.26965302","phone":"7195429974","website_url":"http://www.shamrockbrewing.com","updated_at":"2018-08-24T00:00:00.000Z","created_at"[...]
